// Breakpoints

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$wide-desktop:1280px;
///
/// colours
$white: #FFFFFF;
$main-blue: #81B3D2;
$black: #000000;
$main-beige:#F2F2F2;
$reason-beige: #EEEEEE;
///

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  display: block;
}


ul,
li,
p,
span,
h2,
h3,
button
 {
  margin: 0;
  padding: 0;
  border: initial

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page__body {
  background-color: $main-beige;
  margin: 0;
  font-size: 14px;
  padding: 0;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

}
.subtitle{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  // margin-top: 43px;
}
.blue-bottom {
  background-color: $main-blue;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 32px 17px;
  &:hover{
    background-color: #669EC0;
  }
  &:visited{
    background-color: #5496BD;
    opacity: 0.3;
  }
}
@media (min-width: $tablet-width) {
  .title {
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper{
    padding: 0 40px;
    margin: 0 auto;
  }
  .shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: $wide-desktop) {
  .shadow {
    width: 1200px;
    margin: 0 auto;
  }
}
