.service {
  background-color: $white;
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 35px 11px 35px 48px;
  }

  &__item {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;

    &:nth-last-of-type(2) {
      order: 1;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    text-align: start;
    margin-bottom: 28px;
  }

  &__text {
    text-align: start;
  }
}

@media (min-width: $tablet-width) {
  .service {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 63px 0 59px;
    }

    &__item {
      flex-direction: column;
      padding: 0 36px;
      margin: 0;

      &:nth-last-of-type(2) {
        order: 0;
      }
    }

    &__heading {
      text-align: center;
    }

    &__text {
      text-align: center;
    }

    &__svg {
      text-align: center;
    }

  }

}
